@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


/* zFlash main glow */

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background:
    radial-gradient(
      circle at 50% 30%,
      rgba(255,255,255,0.12),
      transparent 40%
    );

  z-index: -1;
}


/* zFlash particles */

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background-image:
    radial-gradient(
      rgba(255,255,255,0.12) 1px,
      transparent 1px
    );

  background-size: 35px 35px;
  opacity: 0.35;

  z-index: -1;
}